@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Oswald&family=Phudu:wght@500&family=Tilt+Neon&display=swap');
/* Sets the font family for all Elements */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tilt Neon', 'Electrolize', sans-serif;
}

body {
    color: #fff;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    justify-content: space-between;
    display: flex;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 40px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.neon-text {
    color: #fff;
    text-shadow:
        /* White glow */
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        /* Blue glow */
        0 0 42px #2196f3,
        0 0 82px #2196f3,
        0 0 92px #2196f3,
        0 0 102px #2196f3,
        0 0 151px #2196f3;
    }

.navbar a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 55px;
    transition: .3s;
}

.navbar a:hover,
.navbar a:active {
    color: #c40094;
}

.main {
    min-height: 100vh;
    background: url("/assets/images/cityscape.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow: 
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff
            0 0 40px #fff
            0 0 80px #fff
            0 0 90px #fff
            0 0 100px #fff
            0 0 150px #fff;
    }
    20%, 24%, 55% {
        text-shadow: none;
    }
}

.home {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content {
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;


}

.home-content h1 {
    font-size: 78px;
    font-weight: 700;
    text-shadow: 0, 0, 0, .3;

}

.home-content p {
    font-size: 16px;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.home-content .start-btn {
    width: 190px;
    height: 55px; 
    background: #c40094;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px #c40094;
    font-size: 18px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
     cursor: pointer;
     transition: 5s;
}

.home-content .start-btn {
    background: #09001d;
    box-shadow: none;

}